#!/bin/sh

NAME="pgAdmin4"
BIN="/usr/bin/python"
ARGS="{{ pgadmin4_python_dist_dir }}/pgadmin4/pgAdmin4.py"

d_start () {
    echo "Starting $NAME"
    nohup $BIN $ARGS > /dev/null 2>&1 &
    echo "Navigate to http://localhost:5050 for $NAME"
}

d_stop () {
    echo "Stoping $NAME"
    PID=$(ps aux | grep -v grep | grep "$BIN $ARGS" | awk '{print $2}')
    kill $PID
}

d_kill () {
    echo "Stoping $NAME"
    PID=$(ps aux | grep -v grep | grep "$BIN $ARGS" | awk '{print $2}')
    kill -9 $PID
}

d_status () {
    PID=$(ps aux | grep -v grep | grep "$BIN $ARGS" | awk '{print $2}')
    if [ -z $PID ]; then
        echo "$NAME is not runing"
    else
        echo "$NAME is runing"
    fi
}

case "$1" in
    start|stop)
        d_${1}
        ;;

    restart|reload)
        d_stop
        d_start
        ;;

    force-restart)
        d_kill
        d_start
        ;;

    force-stop)
        d_kill
        ;;

    status)
        d_status
        ;;

    *)
        echo "Usage: /etc/init.d/pgadmin4 {start|stop|force-stop|restart|force-restart|reload|status}"
        exit 1
        ;;
esac

exit 0