[Desktop Entry]
Encoding=UTF-8
Name=SmartSVN {{ smartsvn_version }}
Exec=/bin/sh "/opt/smartsvn/{{ smartsvn_version }}/bin/smartsvn.sh"
Icon=/opt/smartsvn/{{ smartsvn_version }}/bin/smartsvn-32.png
Categories=Application;Development;
Version=1.0
Type=Application
Terminal=0
