hibernate.connection.username=postgres
hibernate.default_schema=public
hibernate.connection.password=postgres
hibernate.connection.pool_size=10
hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
hibernate.connection.url=jdbc\:postgresql\://localhost\:5432/lswa_{{ branch_item.item.name }}
hibernate.connection.driver_class=org.postgresql.Driver
hibernate.format_sql=true