{
    "segments": {
        "left": [
                        {
                                "function": "powerline.segments.common.time.date",
                                "priority": 10,
                                "args": {
                                    "format": "%H:%M:%S"
                                }
                        },
                        {
                "function": "powerline.segments.common.env.user",
                "priority": 30,
                "args": {
                                    "hide_user": "{{ ansible_user }}"
                }
            },
            {
                "function": "powerline.segments.common.net.hostname",
                "priority": 20,
                "args": {
                                    "only_if_ssh": true
                }
            },
            {
                "function": "powerline.segments.shell.cwd",
                "priority": 10,
                "args": {
                                    "use_path_separator": true,
                                    "dir_limit_depth": 100
                }
            },
            {
                "function": "powerline.segments.common.vcs.branch",
                "priority": 20,
                "args": {
                                    "status_colors": true
                }
            },
            {
                "function": "powerline.segments.shell.last_status",
                "priority": 10
            }
        ]
    }
}
