[Desktop Entry]
Name=Eclipse {{ eclipse_version }}
Comment=Eclipse IDE
Exec=/opt/eclipse/{{ eclipse_version }}/eclipse %F
Icon=/opt/eclipse/{{ eclipse_version }}/icon.xpm
Type=Application
StartupNotify=true
Categories=TextEditor;Development;Utility;IDE;Development
MimeType=text/plain