[/]
quake-height-percent=40
prompt-on-close=false
unsafe-paste-alert=false
copy-on-select=true
sidebar-on-right=false
terminal-title-style='small'
window-state=128
theme-variant='dark'
control-scroll-zoom=true
focus-follow-mouse=true
quake-width-percent=100
window-style='normal'

[profiles/2b7c4080-0ddd-46c5-8f23-563fd3ba789d]
foreground-color='#EFEFEF'
visible-name='default'
dim-color-set=false
login-shell=true
palette=['#000000', '#CC0000', '#4D9A05', '#C3A000', '#3464A3', '#754F7B', '#05979A', '#D3D6CF', '#545652', '#EF2828', '#89E234', '#FBE84F', '#729ECF', '#AC7EA8', '#34E2E2', '#EDEDEB']
badge-color-set=true
default-size-rows={{ tilix_rows }}
default-size-columns={{ tilix_cols }}
use-system-font=false
cursor-colors-set=false
highlight-colors-set=false
use-theme-colors=false
bold-color-set=false
font='Meslo LG L DZ for Powerline 9'
terminal-title='#${id} ${title} ${directory}'
background-color='#303030'
background-transparency-percent=11
